
@font-face {
  font-family: 'Roboto';
  src: url('robotoregular.tff'); /* IE9 Compat Modes */
  src: url('robotoregular.tff') format('truetype'), /* IE6-IE8 */
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix {
     display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { 
    height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

* {
    box-sizing: border-box;
}
body {
    background-color: #e2e2e2;
}

.secondaryNav,
.primaryNav {
    background-color: #fff;
    display: flex;
    box-shadow: 1px 1px 5px grey;

}

.primaryNav {
    }

.secondaryNav {
    
}

.logoHeader {
    width:100%;
    max-width: 550px;
}


.wrapper {
    width: 100%;
    padding:0 10px;
    max-width: 1100px;
    margin:0 auto;
}

.navigation {
    width: 100%;
}

.navLogo {
    width: 300px;
    height: 75px;
    float: left;
    margin:5px;
}

.secondaryNav-links {
    list-style: none;
    float: left;
    padding: 10px;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 14px;
}

.secondaryNav-linksList {
    padding: 0;
}

a {
    text-decoration: none;
    color: #0971ab;
}

.primaryNav a {
    color: #0971ab;
    border: solid 2px #0971ab;
    border-radius: 5px;
    padding: 5px;
}

.PrimaryNav-linkslist {
    list-style: none;
}

.primaryNav-links {
    float: left;
    text-transform: uppercase;
    font-size: 15px;
    padding:10px;
}

.primaryNav-links a:hover {
    color: skyblue;
    border: solid 2px skyblue;
}

.secondaryNav a:hover {
    color: skyblue;
}

.Banner {
    width: 100%;
    background-image: url(testbanner2.jpg);
    background-repeat:no-repeat;
    background-color: #a4a5a5;
    background-size: 275%;
    background-origin: 
}

.Banner-mainContent {
    max-width: 400px;
    min-height: 200px;
    float: right;
    background-color:rgba(50,50,50,.75);
}
.Banner-missionStatement{
    font-family: 'Roboto';
    width: 100%;
    margin: auto;
    text-align: center;
    color: #fff;
    padding: 2%;
    font-weight: normal;
}

.aboutText-Banner {
    font-family: 'Roboto', Verdana, Arial, sans-serif;
    color: #fff;
    margin: auto;
    padding: 10px;
    line-height: 25px;
}


.learnMore {
    font-family: Verdana, sans-serif;
    font-size: 12px;
    margin-bottom: 10px;
    text-align: right;
    padding-right: 10px;
}

.learnMore-button:hover {
    text-decoration: underline;
    color: #fff;
}

.learnMore-button {
    text-decoration: none;
    color: #fff;
    padding: 10px;
}
.buttonBanner {
font-family: 'Roboto', Verdana, sans-serif;
    width: 48%;
    text-align: center;
    color: #000;
    background-color: #fff;
    border-radius: 3px;
    display: inline-block;
    margin-bottom: 5px;
    margin-left: 3px;
}

.buttonBanner:hover{
    color: #fff;
    background-color: #0971ab;
}

.buttongGroup-banner {
    padding: 5px;
}

.ourProducts-wrapper {
    padding:10px;
    margin-bottom: 10px;
}

.productCard {
    position: relative;
    width: 100%;
    margin: auto;
    margin-bottom: 1%;
    padding-bottom: 35px;
    box-shadow: 1px 1px 5px grey;
background: rgba(255,255,255,1);
background: -moz-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.56) 44%, rgba(9,114,171,0) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(44%, rgba(255,255,255,0.56)), color-stop(100%, rgba(9,114,171,0)));
background: -webkit-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.56) 44%, rgba(9,114,171,0) 100%);
background: -o-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.56) 44%, rgba(9,114,171,0) 100%);
background: -ms-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.56) 44%, rgba(9,114,171,0) 100%);
background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.56) 44%, rgba(9,114,171,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#0972ab', GradientType=1 );
}

.productCard--icon {
    width: 85px;
    margin: 10px;
    display: inline-block;
}

.iconProduct {
    width:100%;
    max-width: 64px;
    position: absolute;
    top:20px;
    left:20px;
}

.iconDatastore {
    width:45px;
    left:25px;
}

.productCard-content {
       width: 48%;
    display: inline-block;
    margin: 0 auto;
    position: relative;
}

.productCard--title {
    font-family: 'Roboto', verdana, helvetica, sans-serif;
    font-size: 16;
    padding: 10px;
    display:block;
    max-width: 100%;
    margin: 0 auto;
}

.productCard--description {
font-family: 'Roboto', verdana, helvetica, sans-serif;
font-size: 14px;
padding: 5px;
margin:0 auto;
margin-bottom: 10px;

}

.productCard-atmosphere {
}

.productCard-dnaSubway {

}

.productCard-discoveryEnvironment {
}

.title-Discoveryenvironment {
}

.buttonGroup {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.button-blue {
    background-color: #0971ab;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Roboto', Verdana, Helvetica, sans-serif;
    border-radius: 3px;
    width: 100px;
    display: inline-block;
    border:solid 2px #0971ab;
    padding: 5px;
}

.button-blue:hover{
    color:#0971ab;
    background-color: #fff;
    border:solid 2px #0971ab;
}


#tfnewsearch {

    float:right;
    padding: 5px;
}

.tftextinput2 {
    margin: 0;
    padding: 5px 15px;
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 12px;
    color: #666;
    border: 1px solid #0971ab;
    border-radius: 5px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}

.tfbutton2 {
    margin: 0;
    padding: 5px;
    font-family: 'Roboto', Verdana, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    border: solid 1px #0971ab;
    background: #0971ab;
    border-top-left-radius: 5px 5px;
    border-bottom-left-radius: 5px 5px;
}

.tfbutton2:hover {
    text-decoration: none;
    background: #007ead;
}


/* Fixes submit button height problem in Firefox */

.tfbutton2::-moz-focus-inner {
    border: 0;
}

.tfclear {
    clear: both;
}

    /* TABBED MENU */

    .menuTabbed-wrapper {
        padding: 0px;
    }


/* Explore CyVerse */

.informationalLinks-wrapper {

    background-color: #fff;
    box-shadow: 1px 1px 5px grey;
    margin-bottom: 10px;
    min-height: 325px;
    width: 50%;
    float: left;
}

.referenceLinks {
padding-top:10px;
}

.referenceLinks-leftColumn, .referenceLinks-rightColumn {
    width:49%;
    display: inline-block;
}

.referenceLink {
    float: left;
    clear: both;
    padding:10px;
}

.referenceLink:hover {
    text-decoration: underline;
}

/* Connect with Us */

.menuConnect-wrapper {
    background-color: #ffffff;
    box-shadow: 1px 1px 5px grey;
    width: 50%;
    min-height: 325px;
    float: left;
    padding: 15px;
    padding: 10 px;
}

.socialmedia-section {
    text-align: center;
}

.socialmediaIcons {
    display: inline-block;
    padding: 20px;
}

.socialIcon {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    position: relative;
}

.youtube {
    height:50px;
    width: 70px;
}

.github {
    height: 60px;
    width: 60px;
}


.socialmediaText {
    margin: 0 auto;
    text-align: center;
    font-size: 10px;
}
.footer-wrapper {
    color:#fff;
    background-color: #003451;
    display: inline-block;
    margin-top: -10px;
}

.footerLinks-wrapper {

position: relative;
margin: 0 auto;
right:0px;
left: 0px;
width: 51%;
}

.footerLinks {
    text-decoration: none;
    color: #fff;
    padding: 10px;
}

.footerLinks:hover {
    color:lightblue;
}

.footerLogo {
    width:20px;
    margin-right: 5px;
}

@media only screen and (max-width: 800px) {

    .Banner {
    background-size: 367%;
}

    .Banner-wrapper, .Banner-mainContent {
        width:100%;
        max-width: 100%;
        margin-right: 0px;
    }

    .footerLinks-wrapper {
        width: 76%;
        }

    .informationalLinks-wrapper, .menuConnect-wrapper {

        width: 100%;
        display: block;
        margin: 0 auto;
        }   
    
    #tfnewsearch {
        display: none;
        }   
    .secondaryNav {
        display: none;
        }

    .productCard {
        width: 100%;
        margin: auto;
        margin-bottom: 1%;
        }
}

@media only screen and (max-width: 620px) {

    .footerLinks-wrapper {
        width: 100%;
        }
}