.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

* {
    box-sizing: border-box;
}
body {
    background-color: #e2e2e2;
}

.secondaryNav,
.primaryNav {
    background-color: #fff;
    display: flex;
        box-shadow: 1px 1px 5px grey;
}


.wrapper {
    width: 100%;
    padding:0 10px;
    max-width: 1100px;
    margin:0 auto;
}

.navigation {
    width: 100%;
}

.navLogo {
    background-color: aquamarine;
    width: 300px;
    height: 75px;
    float: left;
    margin-top: px;
    margin-left: 5px;
}

ul,
li {
    list-style: none;
    float: left;
    padding: 10px;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 12px;
}

.secondaryNav li {
    font-size: 14px;
}

a {
    text-decoration: none;
    color: #0971ab;
}

.primaryNav a {
    color: #0971ab;
    border: solid 2px #0971ab;
    border-radius: 5px;
    padding: 5px;
}

.primaryNav a:hover {
    color: skyblue;
    border: solid 2px skyblue;
}

.secondaryNav a:hover {
    color: skyblue;
}

.Banner-wrapper {
    width: 100%;
    margin: auto;
    background-color:black;
}

.Banner-mainContent {
    max-width: 400px;
    min-height: 200px;
    float: right;
    margin-right: 15%;
    background-color:grey;
}
.Banner-missionStatement{
    font-family: arial;
    width: 100%;
    margin: auto;
    text-align: center;
    color: #fff;
    padding: 2%;
}

.aboutText-Banner {
    font-family: verdana;
    color: #fff;
    margin: auto;
    padding: 10px;
}


.learnMore-Banner {
    font-family: Verdana, sans-serif;
    text-decoration: underline;
    font-size: 12px;
    color: #fff;
    margin-bottom: 10px;
    text-align: right;
    padding-right: 10px;
}

.buttonBanner {
    font-family: Verdana, sans-serif;
    width: 49%;
    text-align: center;
    color: #000;
    background-color: #fff;
    border-radius: 3px;
    clear: both;
    position: relative;
    display: inline-block;
    padding: 3px;
    margin-bottom: 10px;
}

.productSection {
    width: 100%;
    max-width: 960px;
    margin: auto;
}

.ourProducts-wrapper {
    padding:10px;
    margin-bottom: 10px;
}

.productCard {
    width: 100%;
    min-height: 150px;
    margin: auto;
    margin-bottom: 1%;
    box-shadow: 1px 1px 5px grey;
background: rgba(255,255,255,1);
background: -moz-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.56) 44%, rgba(9,114,171,0) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(44%, rgba(255,255,255,0.56)), color-stop(100%, rgba(9,114,171,0)));
background: -webkit-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.56) 44%, rgba(9,114,171,0) 100%);
background: -o-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.56) 44%, rgba(9,114,171,0) 100%);
background: -ms-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.56) 44%, rgba(9,114,171,0) 100%);
background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.56) 44%, rgba(9,114,171,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#0972ab', GradientType=1 );
}

.productCard--icon {
background-color: aquamarine;
    height: 85px;
    width: 85px;
    margin: 10px;
    display: inline-block;
}

.productCard-content {
       width: 88%;
    display: inline-block;
    margin: 0 auto;
    position: relative;
    top: -45px;
}

.productCard--title {
    font-family: verdana, helvetica, sans-serif;
    font-size: 14px;
    padding: 10px;
    display:block;
    max-width: 100%;
    margin: 0 auto;
}

.productCard--description {
font-family: verdana, helvetica, sans-serif;
font-size: 12px;
padding: 5px;
margin:0 auto;
margin-bottom: 10px;

}

.productCard-atmosphere {
}

.productCard-dnaSubway {

}

.productCard-discoveryEnvironment {
}

.title-Discoveryenvironment {
}

.buttonWrapper {
    padding:10px;
    display: inline-block;
}

.homePage-button--blue {
    background-color: #0971ab;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    font-family: Verdana, Helvetica, sans-serif;
    border-radius: 3px;
    width: 100px;
    display: inline-block;
}

#tfnewsearch {
    right: 0px;
    position: relative;
    padding: 10px;
    margin-top: 10px;
    margin-left: 15%;
}

.tftextinput2 {
    margin: 0;
    padding: 5px 15px;
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 12px;
    color: #666;
    border: 1px solid #0971ab;
    border-radius: 5px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}

.tfbutton2 {
    margin: 0;
    padding: 5px;
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    border: solid 1px #0971ab;
    background: #0971ab;
    border-top-left-radius: 5px 5px;
    border-bottom-left-radius: 5px 5px;
}

.tfbutton2:hover {
    text-decoration: none;
    background: #007ead;
}


/* Fixes submit button height problem in Firefox */

.tfbutton2::-moz-focus-inner {
    border: 0;
}

.tfclear {
    clear: both;
}
@media only screen and (max-width: 500px) {

    .Banner-wrapper, .Banner-mainContent {
        width:100%;
        max-width: 100%;
        margin-right: 0px;
    }
    
    #tfnewsearch {
        display: none;
    }
    .secondaryNav {
        display: none;
    }
    
    li {
    width
    }
        .productCard {
    width: 100%;
            margin: auto;
            margin-bottom: 1%;
    }
}