<!DOCTYPE html>
<html>
    <head>
        <title> CyVerse </title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="./css/style.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <script src="./js/menutab.js"></script>
    </head>
    <body>
        {% include "./MaintenanceAlert.html" %}
	{% include "./Header.html" %}
	{% include "./Banner.html" %}
	{% include "./SectionOne.html" %}
        {% include "./SectionTwo.html" %}
        {% include "./SectionThree.html" %}
        {% include "./SubFooter.html" %}
	{% include "./Footer.html" %}
    </body>
</html>
