<!DOCTYPE html>
<html>
    <head>
        <title> CyVerse </title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="./css/style.css">
        <script src="./js/menutab.js"></script>
    </head>
    <body>
        {% include "./alert-bar.html" %}
	{% include "./mobile-nav.html" %}
	{% include "./nav-bar.html" %}
	{% include "./banner.html" %}
	{% include "./callouts.html" %}
	{% include "./product-list.html" %}
	{% include "./updates-widget.html" %}
	{% include "./site-map.html" %}
	{% include "./social-media.html" %}
	{% include "./footer.html" %}
    </body>
</html>
