.Footer {
    color:#fff;
    background-color: #003451;
}

.Footer-links {
    position: relative;
    margin: 0 auto;

    li {
        list-style: none;    
    }

    @media (min-width: 40em) {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

a.Footer-link {
    display: block;
    padding: 20px 30px;
    text-decoration: none;
    color: rgba(255,255,255,.7);
    display: flex;
    align-items: center;

    &:hover {
        color: rgba(255,255,255,1);
    }
}

.Footer-logo {
    width:20px;
    margin-right: 5px;
}
