.Footer {
    color:#fff;
    background-color: #003451;
    padding: 10px 0;
}

.Footer-links {
    position: relative;
    margin: 0 auto;
    width: 51%;
}

.Footer-link {
    text-decoration: none;
    color: #fff;
    padding: 10px;
}

.Footer-link:hover {
    color:lightblue;
}

.Footer-logo {
    width:20px;
    margin-right: 5px;
}
