.SectionOne {
    background: white;
    padding: 100px 0;
    .wrapper {
        .col {
            text-align: center;
            margin: 0 20px;
            margin-bottom: 200px;
            padding-bottom: 50px;
            position: relative;
        }
        .btn {
            position: absolute;
            bottom: 0;
            right: 0;
            left: 0;
        }
        .IconPlaceHolder {
            margin-bottom: 40px;
        }
            @media (min-width: 40em) {
                .row {
                    margin: 0 -20px;
                    display: flex;
                }
                .col {
                    width: 33.333%;
                }
            }
    }
}
