.SideDrawer {
  /* critical sizing and position styles */
  max-width: 500px; 
  width: 80%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  margin: 0px;
  padding: 0px;
  
  /* non-critical appearance styles */
  list-style: none;
  background: $primary-2;
}

.nav-item a {
  /* non-critical appearance styles */
  display: block;
  padding: 1em;
  color: rgba(255,255,255,.8);
  font-size: 1.2em;
  text-decoration: none;
  transition: color 0.2s, background 0.5s;
}

.nav-item a:hover {
  color: white;
  background: rgba(0,0,0,.3);
}

/* Nav Trigger */
.SideDrawer_trigger {
  /* critical styles - hide the checkbox input */
  position: absolute;
  left: -100px;
  clip: rect(0, 0, 0, 0);
  @media (min-width: 40em) {
    display: none;
  }
}

label[for="SideDrawer_trigger"] {
  /* critical positioning styles */
  position: absolute;
  right: 15px; top: 15px;
  z-index: 2;
  @media (min-width: 40em) {
    display: none;
  }

  /* non-critical apperance styles */
  height: 30px;
  width: 30px;
  cursor: pointer;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='6'/><rect y='24' width='30' height='6'/><rect y='12' width='30' height='6'/></svg>");
  background-size: contain;
}

/* Make the Magic Happen */
.SideDrawer_trigger + label, .SiteWrap {
  transition: right 0.2s;
}

.SideDrawer_trigger:checked ~ .SiteWrap {
  right: 300px;
  box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
}

body {
    /* Without this, the body has excess horizontal scroll when the menu is open */
  overflow-x: hidden;
}
