/* Explore CyVerse */

.referenceLinks {
    padding-top:10px;
}

.referenceLinks-leftColumn,
.referenceLinks-rightColumn {
    width:49%;
    display: inline-block;
}

.referenceLink {
    float: left;
    clear: both;
    padding:10px;
}

.referenceLink:hover {
    text-decoration: underline;
}
