@mixin btnBase($padding, $fontSize) {
    border-radius: 3px;
    margin: 0;
    padding: $padding;
    font-size: $fontSize;
    outline: none;
    cursor: pointer;
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }

    /* Fixes submit button height problem in Firefox */
    &::-moz-focus-inner {
        border: 0;
    }
}

.btn {
    @include btnBase(5px 10px, 14px);
}

.btn-lg {
    @include btnBase(10px 20px, 14px);
}

.btn-sm {
    @include btnBase(5px, 10px);
}

.btn-wire {
    background: transparent;
    border: solid 1px $primary-2;
    color: $primary-2;
    &:hover {
        background: $primary-2;
        border-color: $primary-2;
        color: white;
    }
}

.btn-wire-wht {
    background: transparent;
    border: solid 1px white;
    color: white;
    &:hover {
        background: white;
        color: black;
    }
}

.btn-wht {
    background: white;
    color: black;
    opacity: .8;
    &:hover {
        opacity: 1;
    }
}

.btn-primary {
    background: $primary-2;
    color: white;
    &:hover {
        background: darken($primary-2, 2);
    }
}

.btn-group > .btn {
    margin-right: 15px;
}


a.link {
    font-family: Verdana, sans-serif;
    font-size: 14px;
    text-decoration: none;
    color: #004471;
    padding: 5px;
    &:hover {
        text-decoration: none;
    }
    &:visited {
        color: #004471;
    }
}

a.white-link {
    color: #fff;
}
