/* TABBED MENU */
.UpdatesSection {
    padding: 100px 0;
}

.menuTabbed-wrapper {
    padding: 0px;
}

.newsName {
    margin: 0px;
}

.small-Link {
    font-size: 12pt;
}

.newsLink {
    font-size:18px;
}

.small-Link:hover, .newsLink:hover {
    text-decoration: underline;

}

.whiteLink {
    color: #fff;
    font-size: 14px;
    display: inline-block;
}

.whiteLink:hover {
    text-decoration: underline;
}

.newsAll-link {
    float:left;
}

.subscribeLink {
    float:right;
    position: relative;
}

.subscribeLink img {
    position: absolute;
    top:-1px;
    right:68px;
}

/* NEWS ITEM IMAGES */

.newsBackground {
    background-color: rgba(255,255,255,.8);
    padding: 5px;
    display: inline-block;
    border-radius: 5px;
    width: 55%;
}

.newsItem-three {
    background-image: url('../images/newsimage2.jpg');
}

.newsItem-two {
    background-image: url('../images/newsimage3.jpg');
}

.newsItem-one {
    background-image: url('../images/newsimage1.jpg');
}

.tabList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* Float the list items side by side */
.tabList .tabSection {
    float: left;
}

/* Style the links inside the list items */
.tabList .tabSection a {
    display: inline-block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

.newsSection {
    background-color: #0971ab;
}

.eventsSection {
    background-color: #624D9C;
}

.updatesSection {
    background-color: #83BC46;
}

/* Change background color of links on hover */
.tabList .tabSection a:hover {
    text-decoration: underline;
}

.tabList .newsSection a:focus .active {
    background-color: #0971ab;
    color: #fff;
}

.tabList .newsSection a:hover{
    background-color: #004F76;
}

.tabList .eventsSection a:focus .active {
    background-color: #624D9C;
    color: #fff;
}

.tabList .eventsSection a:hover {
    background-color: #463B72;
}

.tabList .updatesSection a:focus .active {
    background-color: #83BC46;
    color: #fff;
}

.tabList .updatesSection a:hover{
    background-color: #46924E;
}

.eventsContent {
    background-color: #624D9C;
    color:#fff;
}

.updatesContent {
    background-color: #83BC46;
    color:#fff;
}

.newsContent {
    background-color: #0971ab;
    color:#fff;
}

/* Style the tab content */
.tabContent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}

.newsContent.tabContent {
    display: block;
}

.eventItem, .newsItem, .updateItem {
    background-color: #fff;
    color: #000;
    border-radius: 5px;
    padding: 6px;
    margin-bottom: 1%;
}
