@import 'normalize';
@import 'variables';
@import 'utilities';
@import 'ui';
@import 'typography';
@import 'ProductCard';
@import 'ImagePlaceHolder';
@import 'IconPlaceHolder';
@import 'Products';
@import 'UpdatesWidget';
@import 'Header';
@import 'MaintenanceAlert';
@import 'Banner';
@import 'SectionOne';
@import 'SectionTwo';
@import 'SectionThree';
@import 'SubFooter';
@import 'SiteMap';
@import 'SocialMedia';
@import 'Footer';

body {
    background-color: #e2e2e2;
}

